@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
input,
select {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button {
  background-color: #1a1a1a;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input:focus,
select:focus {
  outline: 1px solid #646cff;
}
.message {
  border: none;
  border-radius: 1rem;
  padding: 2rem 1rem;
  margin-bottom: 1.2rem;
  position: relative;
}
.mine {
  background-color: #535bf2a1;
}
.other {
  background-color: #57d34c95;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.author {
  font-size: 0.9rem;
  position: absolute;
  top: 0.5rem;
}
.dm {
  font-size: 1.4rem;
}
.date {
  display: block;
  font-size: 0.5rem;
  position: absolute;
  bottom: 0;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
